.formItem{
    z-index: inherit;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 1rem;
}
.formDesignRootAddSubfields{
    z-index: inherit;
    position: relative;
    display:block;
    margin:0 auto;
    height:1.5rem;
    width:13rem;
}
.fieldItemSetting{
    z-index: inherit;
    position: relative;
    display: inline-block;
    max-width: 1.7rem;
    margin-bottom:-8px;
    margin-left:5px;
    border-radius: 50%;
}
.formItemLabel{
    width: 100%;
}
.formItemLabel, .formItemLabel input{
    z-index: inherit;
    position: relative;
    z-index: 10;
    height:2rem;
    font-size: 1rem;
}

/*************************
 * 配置窗口样式
 ************************/
.formRootConfigWindow{
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    gap:15px;
}

.formFieldConfigWindow{
    position: absolute;
    top:2rem;
    z-index: 11;
    background-color: rgb(245, 245, 245);
    display:flex;
    flex-direction: column;
    max-width: 200px;
    border: 1px solid gray;
    gap:5px;
    padding:10px;
    margin-top:10px;
    border-radius: 10px;
    font-size: 1rem;
}


/*************************
 * 控制子fields样式
 ************************/
.subFieldList{
    z-index: inherit;
    position:relative;
    list-style: none;
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    width:100%;
}
.formSubItemDefault{
    list-style: none;
    flex-wrap: wrap;
    display:flex;
}
.formSubItemHorizontalDisplay{
    flex-direction: row;
    justify-content: center;
}
.formSubItemHorizontalReverseDisplay{
    flex-direction: row-reverse;
}
.formSubItemVerticalDisplay{
    flex-direction: column;
}
.formSubItemVerticalReverseDisplay{
    flex-direction: column-reverse;
    
}

