header{
    width:100%;
    border-bottom: 1px solid gray;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.sloganBar{
    display: none;
}
#logo{
    width:200px;
    border-radius: 10px;
}
.headerIcon{
    height:2rem;
}


@media screen and (max-width :32.5rem) {
    #logo{
        width:40%;
        object-fit:cover;
    }
    .sloganBar{
        display: block;
        padding: 0 1rem ;
        font-style:italic;
        font-size: 1.2rem;
    }
    .headerIcon{
        padding: 0 0.2rem;
    }
}