.userBar{
    padding-right: 1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
@media screen and (max-width :32.5rem) {
    .userBar{
        position:fixed;
        right:0;
        bottom: 95px;
    }
    
    .userBarWelcome{
        display:none;
    }

}